// Arabic
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

.ArabicStyle {

  font-family: 'Droid Arabic Kufi', serif !important;
  direction: rtl !important;
  text-align: -webkit-auto !important;

  //   font-size: x-large;
  // font-weight: 700;
  .menu-title {
    font-weight: bolder;
  }
}